.card {
  background-color: #f8fbf6;
  padding: var(--space-lg);
  border-radius: 16px;
  box-shadow: var(--shadow-lg);
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: all 200ms ease-out;
}

.card:hover {
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
}

.card-header h3 {
  color: #4d7811;
}

.card-body {
  flex-grow: 1;
}

.card-body p {
  color: #1c37238d;
}

.card-footer {
  font-weight: var(--font-weight-bold);
  color: #4d7811;
}
