.card {
  background-color: var(--color-surface);
  padding: var(--space-lg);
  border-radius: 16px;
  box-shadow: var(--shadow-lg);
  height: 100%;
  text-decoration: none;
  transition: all 200ms ease-out;
}

.card:hover {
  cursor: pointer;
  background-color: #fff;
  text-decoration: none;
}

.card-header h3 {
  color: var(--color-primary-500);
}

.card-body {
  flex-grow: 1;
}

.card-footer {
  font-weight: var(--font-weight-bold);
}
