footer {
  text-align: center;
  padding: var(--space-lg);
  background-color: #0f120f;
  color: #c1d4b8a0;
  font-size: var(--font-size-sm);
}

footer p {
  font-size: var(--font-size-xs);
  margin-bottom: 0;
}
