footer {
  text-align: center;
  padding: var(--space-lg);
  background-color: var(--color-primary-500);
  color: var(--color-neutral-300);
}

footer p {
  margin-bottom: 0;
  font-size: var(--font-size-small);
  color: inherit;
}
