.button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px 20px;
  background: var(--color-surface);
  border-radius: 12px;
  transition: all 200ms ease-out;
  font-weight: var(--font-weight-semibold);
  color: var(--color-primary-400);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: max-content;
}

.button.fill {
  width: 100%;
}

.button span {
  color: transparent;
}

.button:hover {
  background: #fff;
  color: var(--color-secondary-400);
  transform: scale(1.02);
  box-shadow: var(--shadow-md);
}
.button:hover > span {
  color: var(--color-secondary-400);
}

.button.active {
  background: var(--color-secondary-400);
  color: var(--color-surface);
  transform: scale(1.02);
  box-shadow: var(--shadow-md);
}
.button.active > span {
  color: transparent;
}

.button.md {
  padding: 12px 16px;
}

.button.default {
  background: var(--color-background);
  color: var(--color-primary-500);
}

/* .button.default:focus {
  outline: 2px solid var(--color-focus);
} */

.button.default:active {
  filter: brightness(90%);
}

.button.outline {
  background: transparent;
  border: 1px solid var(--color-background);
  color: var(--color-primary-500);
}
.button.outline:active {
  filter: brightness(90%);
}
