.dark-theme .section-card {
  background: var(--color-neutral-600);
}

.dark-theme .roteiro-5 h3 {
  color: var(--color-neutral-100);
}

.dark-theme p {
  color: var(--color-neutral-300);
}

.dark-theme .error {
  color: var(--color-danger-200);
}

.dark-theme .btn-danger {
  background-color: var(--color-danger-300) !important;
  color: var(--color-neutral-100) !important;
}

.dark-theme .output {
  background: var(--color-neutral-500);
  border-color: var(--color-neutral-500);
}

.dark-theme .output .no-task {
  color: var(--color-neutral-300);
}

.dark-theme .list-row span {
  color: var(--color-neutral-100);
  font-size: var(--font-size-body) !important;
}

.dark-theme .list-row {
  border-top: 1px solid var(--color-neutral-400);
}

body {
  transition:
    background-color 0.3s ease-out,
    color 0.3s ease-out;
}

.roteiro-5 h3 {
  color: var(--color-primary-500);
}

.error {
  color: var(--color-danger-400);
}

.roteiro-5 .button {
  min-width: max-content;
}

.btn-danger {
  background-color: var(--color-danger-100) !important;
}

.output {
  background: #f7f7f9;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  min-height: 26px;
  white-space: pre-wrap;
  list-style: none;
  margin: -6px 0 0 0;
  padding: 0;
  overflow-y: auto;
  max-height: 520px;
}

.output .no-task {
  color: var(--color-neutral-300);
}
.output:has(.no-task) {
  padding: 12px 20px;
}

.taks-counter {
  opacity: 50%;
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-medium);
}

.list-row {
  padding: 12px 12px 12px 20px;
  border-top: 1px solid #e5e5e5;
}
.list-row:first-child {
  border-top: none;
}
.list-row span {
  width: 65%;
  color: var(--color-text);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-medium);
}

.list-row .col-date {
  width: 15%;
  color: var(--color-text-muted);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
}

.tasks-header {
  gap: 64px;
}

.tasks-header .controls {
  flex: 1;
  width: 100%;
  justify-content: end;
}

.tasks-header .controls input {
  width: 250px;
}

.tasks-header .controls select {
  width: 210px;
}

@media screen and (max-width: 1080px) {
  .tasks-header {
    flex-direction: column;
    gap: 12px;
    align-items: start;
  }

  .tasks-header .controls input {
    width: 100%;
  }
}
