.dark-theme .section-card {
  background: var(--color-neutral-600);
}

.dark-theme .roteiro-5 h3 {
  color: var(--color-neutral-100);
}

.dark-theme p {
  color: var(--color-neutral-300);
}

.dark-theme .error {
  color: var(--color-danger-200);
}

.dark-theme .btn-danger {
  background-color: var(--color-danger-300) !important;
  color: var(--color-neutral-100) !important;
}

.dark-theme .output {
  background: var(--color-neutral-500);
  border-color: var(--color-neutral-500);
}

.dark-theme .output .no-task {
  color: var(--color-neutral-300);
}

.dark-theme .list-row span {
  color: var(--color-neutral-100);
  font-size: var(--font-size-body) !important;
}

.dark-theme .list-row {
  border-top: 1px solid var(--color-neutral-400);
}

body {
  transition:
    background-color 0.3s ease-out,
    color 0.3s ease-out;
}

.roteiro-5 h3 {
  color: var(--color-primary-500);
}

.error {
  color: var(--color-danger-400);
}

.btn-danger {
  background-color: var(--color-danger-100) !important;
}

.output {
  background: #f7f7f9;
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  min-height: 26px;
  white-space: pre-wrap;
  list-style: none;
  margin-top: -6px;
  padding: 0;
  overflow-y: auto;
  max-height: 520px;
}

.output .no-task {
  color: var(--color-neutral-300);
}

.list-row {
  padding: 12px 12px 12px 20px;
  border-top: 1px solid #e5e5e5;
}
.list-row:first-child {
  border-top: none;
}
.list-row span {
  width: 100%;
  color: var(--color-text);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-medium);
}

/* .roteiro-5 ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
} */

/* .roteiro-5 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
} */

/* .roteiro-5 li.concluida span {
  text-decoration: line-through;
  opacity: 0.6;
} */

/* .roteiro-5 .btn-remove {
  background-color: transparent;
  color: var(--danger);
  border: 1px solid var(--danger);
  padding: 4px 8px;
  border-radius: 6px;
} */
