body.dark-mode {
  --color-background: var(--color-primary-300);
  --color-surface: var(--color-neutral-600);

  --color-text: var(--color-neutral-100);
  --color-text-muted: var(--color-neutral-200);

  --color-border: var(--color-neutral-500);

  --color-heading: var(--color-neutral-100);
  --color-link: var(--color-secondary-300);

  --color-focus: var(--color-primary-300);
}

body {
  transition:
    background-color 0.3s ease-out,
    color 0.3s ease-out;
}

/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
} */

/* section {
  background: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 20px;
  margin: 18px 0;
} */

/* 
input[type='text'] {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--card-bg);
  color: var(--text-color);
} */

/* button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
  font-weight: bold;
} */

/* button.btn-danger {
  background-color: var(--danger);
} */

/* .error {
  color: var(--danger);
  display: none;
  margin-top: 6px;
} */

/* .roteiro-5 ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
} */

/* .roteiro-5 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
} */

/* .roteiro-5 li.concluida span {
  text-decoration: line-through;
  opacity: 0.6;
} */

/* .roteiro-5 .btn-remove {
  background-color: transparent;
  color: var(--danger);
  border: 1px solid var(--danger);
  padding: 4px 8px;
  border-radius: 6px;
} */
