.content-headline {
  text-align: center;
  margin-top: -180px;
  max-width: 50%;
  align-self: center;
}

.content {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 48px 20px;
  background-color: var(--color-background);
  border-radius: 48px 48px 0 0;
}

.container {
  display: flex;
  width: 950px;
  max-width: 100%;
  flex-direction: column;
  gap: 24px;
}

.section-card {
  display: flex;
  gap: 20px;
  background-color: var(--color-surface);
  padding: 32px;
  border-radius: var(--radius-lg);
  flex-direction: column;
  flex: 1;
}

/* Grids */

.grid-cols-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 16px;
  align-items: stretch;
}

/* Flexbox */

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 12px;
  max-width: 100%;
}

.flex-1 {
  flex: 1;
}

/* Responsivity */

@media screen and (max-width: 1080px) {
  .grid-cols-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 756px) {
  .grid-cols-2 {
    grid-template-columns: 1fr;
  }
}
